/* * {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(163, 161, 161);
}
header {
    top: 0;
    width: 100%;
    padding: 30px;
    background-color: rgb(85, 231, 141);
    position: absolute;
    display: flex;
    justify-content: space-between;
}

header div,
header div h1 {
    display: flex;
    padding-right: 30px;
    font-size: 36px;
}

header nav a {
    font-size: 36px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
}
header a:hover {
    color: white;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    text-align: center;
    word-wrap: break-word;
    font-size: 30px;
}

main section div p {
    padding: 20px 0;
    width: 300px;
    font-size: 20px;
    color: white;
}

button {
    font-size: 20px;
    height: 30px;
    width: 200px;
    background-color: rgb(85, 231, 141);
    box-shadow: 4px 4px 5px rgb(48, 48, 48);
}

button:active {
    box-shadow: none;
} */

/* footer {
    position: sticky;
    top: 100vh;
    text-align: center;
    font-size: 30px;
} */

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --green: #07d300;
    --red: #ee0000;
    --grey: #807e7e;
    --lightgreen: rgb(85, 231, 141);
  }

body {
    background-color: var(--grey);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

body.correct {
    background-color: var(--green);
}

body.wrong {
    background-color: var(--red);
}

.container {
    width: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: var(--lightgreen);
    border-color: var(--green);
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    background-color: var(--green);
}

.btn.wrong {
    background-color: var(--red);
    border-color: var(--red);
}

.start-btn,
.next-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}