* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgb(163, 161, 161);
}
header {
    top: 0;
    width: 100%;
    padding: 30px;
    background-color: rgb(85, 231, 141);
    position: absolute;
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 36px;
    padding-right: 90px;
}
header nav a {
    font-size: 36px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
}
header a:hover {
    color: white;
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    text-align: center;
    word-wrap: break-word;
    font-size: 30px;
}

main section div p {
    padding: 20px 0;
    width: 300px;
    font-size: 20px;
    color: white;
}

button {
    font-size: 20px;
    height: 30px;
    width: 200px;
    background-color: rgb(85, 231, 141);
}

footer {
    position: sticky;
    top: 100vh;
    text-align: center;
    font-size: 30px;
}